@use 'sass:map';

$themes: (
  "light": (bg: #fff,    fg: #000,    link: #0000ee),
  "dark":  (bg: #1a1a1a, fg: #eaeaea, link: #5156ff),
);

@each $theme, $vals in $themes {
  [data-theme='#{$theme}'] {
    --bg:   #{map.get($vals, bg)};
    --fg:   #{map.get($vals, fg)};
    --link: #{map.get($vals, link)};
  }
}

html {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Roboto Mono', sans-serif;
}

a {
  color: var(--link);
}

.container {
  max-width: 80ch;
  margin-inline: auto;
}

.subtitle {
  align-items: center;
  display: flex;

  > p { display: inline; }

  > #theme-toggle { margin-left: auto; }
}

footer {
  text-align: center;
  margin-block: 2em;
}

#theme-toggle {
  background: none;
  border: 1px solid var(--fg);
  border-radius: 100%;
  padding: 8px;
  transition: transform 150ms ease, background-color 150ms ease;

  &:hover  {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--fg) 10%, transparent);
  }
  &:active { transform: scale(0.9) rotate(30deg); }

  .icon { transition: transform 300ms ease; }
  &:hover .icon { transform: rotate(20deg); }
}


.icon {
  color: var(--fg);
  width: 16px;
  height: 16px;
}

$icon-visibility: (
  "light": (show: sun,  hide: moon),
  "dark":  (show: moon, hide: sun),
);

@each $theme, $vals in $icon-visibility {
  [data-theme="#{$theme}"] {
    .icon.#{map.get($vals, show)} { display: block; }
    .icon.#{map.get($vals, hide)} { display: none; }
  }
}
